
.hero-container
  h2 We map #[i.it human] networks
  p Companies still build recommendation engines and analyze their customers by behaviors recorded in-store or online. Humans are active organisms that grow in networks. Alpharank allows you to predict which customers will matter over time without hours of data science and many complicated models.
  .h-btn
    a(href="/api").btn.btn-primary #[i.fa.fa-code] View API
    a(href="#contact_form").btn.btn-primary #[i.fa.fa-phone] Contact Us
