nav
  .container
    .main-nav.clearfix
      h1.logo-cont
        a(href="/"): img(src='/static/images/alpharank_logo_white.svg', alt='', width='218', height='25')
      ul
        li
          a(href='/login').bround Login
