section.sect-clients.clearfix
  .container
    h2.h-title Fortune 500 Companies Trust Us
    .row
      .col-xs-6.col-sm-4.col-md-3.col-lg-3
        .clients
          img(src='images/capital_one.png', alt='Capital One').img-responsive
      .col-xs-6.col-sm-4.col-md-3.col-lg-3
        .clients
          img(src='images/td_bank.png', alt='TD Bank').img-responsive
      .col-xs-6.col-sm-4.col-md-3.col-lg-3
        .clients
          img(src='images/first_bank.png', alt='First Bank').img-responsive
      .col-xs-6.col-sm-4.col-md-3.col-lg-3
        .clients
          img(src='images/jpmorgan_chase.png', alt='JPMORGAN CHASE').img-responsive
      .col-xs-6.col-sm-4.col-md-3.col-lg-3
        .clients
          img(src='images/master_card.png', alt='Master Card').img-responsive
      .col-xs-6.col-sm-4.col-md-3.col-lg-3
        .clients
          img(src='images/visa.png', alt='VISA').img-responsive
      .col-xs-6.col-sm-4.col-md-3.col-lg-3
        .clients
          img(src='images/privat_bank.png', alt='Privat Bank').img-responsive
      .col-xs-6.col-sm-4.col-md-3.col-lg-3
        .clients
          img(src='images/citibank.png', alt='City Bank').img-responsive
