section.sect-timeline.clearfix
  .container
    h2.h-title From Computational Epidemiology to Finance
    ul.timeline-cont
      li
        .year-title.y2013
          .icon-cont
            img(src='images/global.svg', alt='')
          span.year 2013
          h4 Team Alpharank is mapping viruses in Asia
      li
        .year-title.y2014
          .icon-cont
            img(src='images/ticket.svg', alt='')
          span.year 2014
          h4 Nightclubs begin asking for help selling tickets by marketing to their influencers
      li
        .year-title.y2015
          .icon-cont
            img(src='images/store.svg', alt='')
          span.year 2015
          h4 Retailers show interest in finding their most influential brand ambassadors
      li
        .year-title.y2016
          .icon-cont
            img(src='images/presentation.svg', alt='')
          span.year 2016
          h4 Financial instuitions can now target their most important customers
                
